.sidebar{
    background-color: #252628;
}

.headermain{
    background-color: #252628;
}

.header-tog{
    color: #9ca3af !important;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:14px;
    left: 20px;
    color: #a2a0a2 !important;

}


.form-input{

    height: 40px;
    width: 500px;
    text-indent: 33px;
    border-radius: 20px;
    border: none;
    background-color: #424244;
}

.form-input::placeholder{
    color: #9ca3af;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

/* ------------ Project ------------- */
.searchbar-input{
    width: 200px;
    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

.project-search-bar{
    position: relative;
}

.project-search-bar .fa-search{

    position: absolute;
    top:14px;
    left: 20px;
    color: #a2a0a2 !important;

}

.project-select:focus,
.searchbar-input:focus{

    box-shadow: none;
    border-color: #9ca3af;
}

